.box {
  width: 25%;
  height: 100%;
  background: radial-gradient(100% 150% at top, #18181b 50%, transparent 50.2%),
    radial-gradient(100% 180% at top, white 48%, white 50%, transparent 50.2%),
    white;
  background-size: 400% 300px;
  background-position: 1% 0;
  background-repeat: no-repeat;
  position: relative;
}
